
<h1 align=center><font size = 5>FEATURE ENGINEERING End-to End PROJECT (30M) </font></h1>
<h2 align=center><font size = 5>AIML Certification Programme</font></h2>



## Student Name and ID: Shreenath Omar and 2023AIML554

Mention your name and ID if done individually<br>
If done as a group,clearly mention the contribution from each group member qualitatively and as a precentage.<br>
1.                          

2.

## Business Understanding (1M)

Students are expected to identify a regression problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

1. What is the business problem that you are trying to solve

   Answer:

   Business Problem: The business problem at hand is predicting car prices based on various attributes. Accurate car price predictions can help   
   manufacturers, dealers, and customers make informed decisions. For instance, manufacturers can set competitive prices, dealers can provide better 
   recommendations to customers, and customers can understand the value of a car based on its features.
   
2. What data do you need to answer the above problem?What are the different sources of data?

   Answer:

   Data Needed: To predict car prices, we need data on various car attributes such as make, model, year, engine size, fuel type, mileage, and more. 
   This data will help in understanding the factors that influence car prices and build a predictive model.

   Sources of Data: The dataset used for this analysis is sourced from Kaggle: https://www.kaggle.com/datasets/ersany/car-price-prediction

## Data Requirements and Data Collection (3+1M)<a id="0"></a>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DS0103EN/labs/images/lab2_fig1_flowchart_data_requirements.png" width=500>

In the initial data collection stage, data scientists identify and gather the available data resources. These can be in the form of structured, unstructured, and even semi-structured data relevant to the problem domain.

Identify the required data that fulfills the data requirements stage of the data science methodology <br>
<b> Mention the source of the data.(Give the link if you have sourced it from any public data set)
Briefly explain the data set identified .</b>

#### Answer:
Data Requirements and Data Collection

Required Data: 

The required data includes structured data on car attributes. This data should have features that are likely to impact the car price such as brand, model, year of manufacture, mileage, fuel type, transmission, and engine size.

Source: 

The dataset is publicly available on Kaggle: Car Price Prediction Dataset (link:-https://www.kaggle.com/datasets/ersany/car-price-prediction)

Same dataset is uploaded in Github repository :- https://github.com/shreenath197/car_pricing_dataSet.git

raw content url of car pricing dataset csv file:- https://raw.githubusercontent.com/shreenath197/car_pricing_dataSet/main/car_price.csv

Dataset Overview: 

The dataset contains various attributes of cars which will be used to predict their prices. We will import this dataset and perform an initial analysis.

 Import the above data and read it into a data frame

In [45]:
# importing required package
import pandas as pd
# defining dataSet github raw url for csv dataSet file
github_filePath="https://raw.githubusercontent.com/shreenath197/car_pricing_dataSet/main/car_price.csv"
# loading dataSet
dataSet=pd.read_csv(github_filePath)

Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [44]:
# displaying first 5 records to confirming data loading
print("*****Displaying below first 5 records*****")
dataSet.head()

*****Displaying below first 5 records*****

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790

In [43]:
# displaying last 5 records to confirming data loading
print("*****Displaying below last 5 records*****")
dataSet.tail()

*****Displaying below last 5 records*****

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
4795,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4796,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4797,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

Get the dimensions of the dataframe.

In [40]:
# displaying the dimensions of the DataFrame
dataSet.shape[0:2]

(4800, 8)

Display the description and statistical summary of the data.

In [46]:
# displaying the description and statistical summary of the data
dataSet.describe()

                  km      hp         price
count    4800.000000  4800.0   4800.000000
mean    31912.910417    85.0  19722.871875
std     35899.452772     0.0   4337.519969
min         0.000000    85.0   5555.000000
25%      4700.000000    85.0  15990.000000
50%     20005.000000    85.0  19588.000000
75%     47800.000000    85.0  22692.500000
max    291800.000000    85.0  56100.000000

Display the columns and their respective data types.

In [47]:
# displaying the columns and their respective data types
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   make_model    4800 non-null   object
 1   body_type     4800 non-null   object
 2   Body Color    4800 non-null   object
 3   km            4800 non-null   int64
 4   hp            4800 non-null   int64
 5   Gearing Type  4800 non-null   object
 6   Extras        4800 non-null   object
 7   price         4800 non-null   int64
dtypes: int64(3), object(5)
memory usage: 300.1+ KB

Convert the columns to appropriate data types

#### Write your observations from the above.

##### observations:

1- make_mode, body_type, Body Color & Gearing Type attribute are categorical variables .

2- km attribute is numerical variable.

3- price is contineous target variable .

### Check for Data Quality Issues (1.5M)

* duplicate data
* missing data
* data inconsistencies

### Handling the data quality issues(1.5M)
Apply techniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies <br>
Give detailed explanation for each column how you handle the data quality issues.

### Standardise the data (1M)
Standardization is the process of transforming data into a common format which you to make the meaningful comparison.

### Normalise the data wherever necessary(1M)

### Perform Binning (1M)
Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.

### Perform encoding (1M)

### Perform Data Discretization(2M)

### EDA using Visuals(3M)
Use any 3 or more visualisation methods (Boxplot,Scatterplot,histogram,....etc) to perform Exploratory data analysis and briefly give interpretations from each visual.

### Feature Selection(2M)

Apply Univariate filters identify top 5 significant features by evaluating each feature independently with respect to the target variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Fisher Score
<br>(From the above 5 you are required to use any <b>two</b>)

### Report observations (2M)

Write your observations from the results of each of the above method(1M). Clearly justify your choice of the method.(1M)

### Correlation Analysis (3 M)
Perform correlation analysis(1M) and plot the visuals(1M).Briefly explain each process,why is it used and interpret the result(1M).

### Model Building and Prediction (4M)

Fit a linear regression model using the most important features identified(1M).Plot the visuals(1M).Briefly explain the regression model,equation (1M) and perform one prediction using the same(1M).

### Observations and Conclusions(1M)

###  Solution (1M)

What is the solution that is proposed to solve the business problem discussed in the beginning. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.